.footer {
    padding: 0 24px 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__logo {
        width: 112px;
        height: 18px;
        margin-top: 88px;
        margin-bottom: 16px;
        background-image: url(../../assets/images/bg-pattern-footer-mobile.svg);

    }

    &__social {
        display: flex;
        align-items: center;

        margin-bottom: 81px;
        gap: 16px;

    }

    &__contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 88px;



    }
}