.menu {
  position: absolute;
  display: flex;
  top: 70px;
  left: 0;
  background-color: var(--blue);
  flex-direction: column;
  width: 100vh;
  height: calc(100vh - 70px);
  justify-content: center;
  padding: 0 24px;
  translate: 100%;
  transition: translate 0.3s;
  gap: 24px;
  font-size: 18px;
  color: white;
  z-index: 1;

  &--show {
    translate: 0;
  }
}
